# Ignore any scala binaries
*.class
target/

# Ignore any log files
*.log

# Ignore metadata
.bsp/
.idea/
*.iml

# Ignore txt files except example file
*.txt
!source.txt

# Ignore compressed files
*.pico
